{% extends "base.html" %}
{% load static  %}
{% block title %}
<title>Home page</title>
{% endblock title %}

{% block content %}
<div class='container'>
 <div class="row mt-5">
    <div class="col-lg-4">
        <img src="{%static 'images/1.jpg' %}" class="rounded-lg shadow" alt="Notes" width="360" height="250">
    </div>
    <div class="col-lg-4">
        <img src="{%static 'images/2.jpg' %}" class="rounded-lg shadow" alt="Notes" width="360" height="250">
    </div>
    <div class="col-lg-4">
        <img src="{%static 'images/3.jpg' %}" class="rounded-lg shadow" alt="Notes" width="360" height="250">
    </div>
    <div class="row mt-5">
        <div class="col-md-10 offset-md-1">
        <center><p class="h2 text-primary">Plan your day better </center>
        <center><p class="h5">Get your life organized !</center>
        <center><a href="{% url 'todolist'%}"><button type="button" class="btn btn-primary btn-lg mt-3 shadow">Let's Get Started</button></a></center>

        </div>
    </div>
</div>
{% endblock content %}
