{% extends "base.html" %}

{% block title %}
<title>Todo List  - page</title>
{% endblock title %}

{% block content %}
<div class='container'>
</br>
{% if messages %}
    {% for message in messages  %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

        </div>
  
    {% endfor %}
{% endif %}
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <input type="text" class="form-control" name="task" placeholder="new task ?">
    </div>
</br>
    <button type="submit" class="btn btn-primary">add task</button>
  </form>
</br>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Task</th>
            <th scope="col">Done</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
        {% if all_tasks %}
            {% for obj in all_tasks %}
                {% if obj.done %}
                    <tr class="table-success">
                        <td>{{obj.task}}</td>
                        <td>Completed</td>
                        <td>Delete</td>
                        <td>Edit</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{obj.task}}</td>
                        <td>Not completed</td>
                        <td>Delete</td>
                        <td>Edit</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
        </tbody>
      </table>
</div>
{% endblock content %}